#card {
    position: relative;
    height: 10rem;
    width: 16.125rem;
    border-radius: 0.375rem;
    background-image: url('../../../../public/card.png');
    background-size: cover;
    margin: 1.875rem;

    &::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(19, 17, 29, 0) 0%, rgba(19, 17, 29, 0.26) 49.48%, #13111D 100%);
        border-radius: 0.375rem;
    }

    &.available:hover {
        &, &::before {
            border-radius: 0.375rem 0.375rem 0 0;
        }

        & #actions {
            opacity: 1;
        }

        & #selects {
            opacity: 1;
        }
    }

    &:not(.available) {
        &::before {
            background: linear-gradient(180deg, rgba(19, 17, 29, 0.7) 0%, rgba(19, 17, 29, 0.7) 49.48%, #13111D 100%);
            z-index: 1;
        }

        &::after {
            content: 'Out of Stock';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            color: #F8F8F8;
            z-index: 1;
        }
    }

}

#actions {
    position: absolute;
    right: 0.688rem;
    top: 0.688rem;
    display: flex;
    margin: 0 -0.156rem;
    opacity: 0;

    button {
        position: relative;
        height: 1.875rem;
        width: 1.875rem;
        margin: 0 0.156rem;
        border-radius: 1rem;
        background-color: rgba(19, 17, 29, .36);
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#price {
    position: absolute;
    bottom: 2.625rem;
    left: -0.125rem;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.09);
    border-radius: 0.446rem;
    padding: 0.313rem 0.813rem 0.313rem 0.625rem;
    line-height: 0.938rem;
}

#name {
    font-size: 0.938rem;
    color: white;
    position: absolute;
    bottom: 0.875rem;
    left: 0.625rem;
    line-height: 1.25rem;
}

#selects {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #13111D;
    z-index: 2;
    border-radius: 0 0 0.375rem 0.375rem;
    opacity: 0;

    >div {
        margin: 0.344rem 0;
    }
}
