#container {
    display: flex;
}

#left, #right {
    line-height: 0;
    margin: 0 .75rem;

    img {
        height: 0.75rem;
    }
}

#right {
    transform: scaleX(-1);
}

#options {
    flex: 1;
    display: flex;
    justify-content: space-between;
}