@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: Montserrat;
}

button {
    display: block;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

html {
    background-color: black;
}